:root {
  --primary-color: #866aec;
  --secondary-color: #56bea1;
  --background-color: #100f16;
  --foreground-color: #242424;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;

  color: var(--primary-color);
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;

  background-color: var(--foreground-color);
}

.layout {
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  background-color: #1a1a1a;
}

.nav-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  background-color: #333333;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}
.nav-button:hover {
  background-color: var(--secondary-color);
  color: black;
  cursor: pointer;
}

.index-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.folder-box {
  border: 1px solid #555;
  padding: 1rem;
  margin-left: 1rem;
  background-color: #1a1a1a;
  border-radius: 8px;
}

.folder-title {
  margin: 0 0 0.5rem 0;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.file-list {
  list-style: none;
  padding-left: 1rem;
  margin: 0;
}

.file-list li {
  margin: 0.25rem 0;
}

.file-list li a {
  text-decoration: none;
  color: #fff;
}

.file-list li a:hover {
  text-decoration: underline;
  color: var(--secondary-color)
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  .container {
    padding: 0%;
  }
  .nav-button {
    padding: 0.25rem 0.5rem;
    margin-top: 0.25rem;
    width: 100%;
  }
  .folder-box {
    padding: 2px;
    margin: 0%;
  }
}