:root {
  --primary-color: #866aec;
  --secondary-color: #56bea1;
  --background-color: #100f16;
  --foreground-color: #242424;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;

  color: var(--primary-color);
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;

  background-color: var(--foreground-color);
}

.layout {
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  background-color: #1a1a1a;
}

.nav-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  background-color: #333333;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}
.nav-button:hover {
  background-color: var(--secondary-color);
  color: black;
  cursor: pointer;
}